.title {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 95px;
    padding: 10px;
    padding-bottom: 60px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
    line-height: 1;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        margin: 0 auto;
        height: 50px;
        width: 300px;
        background: url("/top_line.png") center center no-repeat;
        background-size: contain;
    }
}
