.services {

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__info{
        padding: 50px 0;
        text-align: center;
    }
}
